
  <link rel="shortcut icon" href="file:///Users/ernbrn/Projects/Notes/tiy-logo.png" type="image/x-icon">
<link rel="icon" href="/favicon.ico" type="image/x-icon">
</head>
<body>
<img src = "http://tiy-durham-june2014-frontend.github.io/iron-slides/images/tiy-logo.png" width = "30%" height = "30%" alt = "The Iron Yard powered by Smashing Boxes">
  <h1>Welcome to The Iron Yard powered by Smashing Boxes</h1>


<h2> Learn to code. Get a job. Guaranteed.</h2>

<strong>The Iron Yard Academy</strong> teaches intensive, three-month courses that
mentor you into a porfessional junior-level programmer. Our program goes far beyond
tactical skills and teaches you to think like a <em>software engineer.</em> Programming
is a lifelong study, and our process shows you to learn how to <em>learn so you remain
  highly valuable for the rest of your career.</em>


<h2> Locations </h2>
<ul>
  <li><a href = "http://theironyard.com/locations/asheville">Asheville, NC</a></li>
  <li><a href = "http://theironyard.com/locations/atlanta" target = "_blank" >Atlanta, GA</a></li>
  <li><a href = "http://theironyard.com/locations/austin" >Austin, TX</a></li>
  <li><a href = "http://theironyard.com/locations/charleston">Charleston, SC</a></li>
  <li><a href = "http://theironyard.com/locations/columbia">Columbia, SC</a></li>
  <li><a href = "http://theironyard.com/locations/durham">Durham, NC</a></li>
  <li><a href = "http://theironyard.com/locations/greenville">Greenville, SC</a></li>
  <li><a href = "http://theironyard.com/locations/houston">Houston, TX</a></li>
  <li><a href = "http://theironyard.com/locations/spartanburg">Spartanburg, SC</a></li>
  <li><a href = "http://theironyard.com/locations/tampa">Tampa, FL</a></li>
</ul>

<a href = https://twitter.com/TheIronYard target = "_blank" > Follow us on Twitter</a>


</body>
